html,
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background: #ccc !important;
}
#wrap {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}
.clip {
  max-width: 100%;
}
.bandcamp-grey,
.bandcamp-white {
  width: 24px;
}
#header .header {
  background: url("../img/header_bg.jpg") center center no-repeat;
  height: 200px;
}
#header .header .nav-link {
  font-size: 18px;
  color: #000;
}
#content {
  width: 100%;
  padding: 10px 0px;
}
.news_q {
  width: 100%;
  margin-bottom: 20px;
}
.news_q .news_im {
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
.news_q .news_img {
  width: 100%;
  height: 250px;
  max-width: 100%;
}
.news_q .news_item {
  width: 100%;
}
.news_q .news_item .news_title {
  margin-bottom: 20px;
}
.news_q .news_item .news_inform {
  font-size: 12px;
  color: #424242;
}
.post_content .post_title {
  margin-bottom: 20px;
}
.post_content .post_im {
  float: left;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.post_content .post_im img {
  text-align: left;
  max-width: 100%;
}
.post_content .post_desc {
  text-align: left;
}
.post_content .post_desc img {
  max-width: 100%;
  height: auto !important;
  margin: 5px;
}
.post_content .post_desc span {
  font-family: Verdana, Arial, sans-serif !important;
  font-size: 14px;
}
.breadcrumb {
  font-size: 12px;
  background-color: #fff;
  padding: 0px;
}
.footer {
  padding: 40px 0px;
  background: #1b4b72;
  color: #fff;
}
.clip_content {
  text-align: center;
  margin-bottom: 20px;
}
.clip_content .clip_im {
  margin-bottom: 20px;
}
.read_more {
  margin-bottom: 10px;
}
.read_more a {
  font-size: 14px;
  color: #000;
  border-bottom: 1px dashed;
}
.read_more a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
