@font-face {
  font-family: 'DynamoCG';
  src: url('../fonts/DynamoCG.eot');
  src: url('../fonts/DynamoCG.eot?#iefix') format('embedded-opentype'), url('../fonts/DynamoCG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DynamoCG';
  src: url('../fonts/DynamoCG.ttf') format('truetype'), url('../fonts/DynamoCG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BazookaCYR';
  src: url('../fonts/BazookaCYR.eot');
  src: url('../fonts/BazookaCYR.eot?#iefix') format('embedded-opentype'), url('../fonts/BazookaCYR.ttf') format('truetype'), url('../fonts/BazookaCYR.woff') format('woff'), url('../fonts/BazookaCYR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pg_isadoracyrpro-regular-webfont';
  src: url('../fonts/pg_isadoracyrpro-regular-webfont.eot');
  src: url('../fonts/pg_isadoracyrpro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pg_isadoracyrpro-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUz9_-1phKLFgshYDvh6Vwt7VptuA.ttf) format('truetype');
}
html,
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background: url('../img/body_bg2.png') !important;
  background-size: cover;
}
#wrap {
  width: 1000px;
  margin: 0 auto;
}
.clip {
  max-width: 100%;
}
.bandcamp-grey,
.bandcamp-white {
  width: 24px;
}
h1,
h2 {
  font-family: 'pg_isadoracyrpro-regular-webfont', sans-serif;
  font-weight: bold;
}
.nav-item a {
  font-size: 20px;
}
#header .header {
  background: url("../img/header_bg.jpg") center center no-repeat;
  height: 200px;
}
#header .header .nav-link {
  font-size: 18px;
  color: #000;
}
#content {
  width: 100%;
  background: #fff;
}
.news_q {
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
}
.news_q .news_im {
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
.news_q .news_img {
  width: 100%;
  height: 250px;
  max-width: 100%;
}
.news_q .news_item {
  width: 100%;
}
.news_q .news_item .news_title {
  margin-bottom: 20px;
  font-family: 'BazookaCYR', sans-serif;
  font-size: 30px;
  line-height: 30px;
}
.news_q .news_item .news_title a {
  color: orangered !important;
}
.news_q .news_item .news_desc p,
.news_q .news_item .news_desc span {
  font-family: 'Alegreya Sans', sans-serif !important;
  font-size: 20px;
  font-weight: normal !important;
}
.news_q .news_item .news_inform {
  font-size: 12px;
  color: #424242;
}
.news_q .news_item .news_inform div {
  margin-right: 20px;
}
.news_q .news_item .news_date {
  float: left;
}
.news_q .news_item .views_count {
  float: left;
}
.post_content .post_title {
  margin-bottom: 20px;
}
.post_content .post_im {
  float: left;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.post_content .post_im img {
  text-align: left;
  max-width: 100%;
}
.post_content .post_desc {
  text-align: left;
  font-size: 18px;
}
.post_content .post_desc img {
  max-width: 100%;
  height: auto !important;
  margin: 5px;
}
.post_content .post_desc span {
  font-family: Verdana, Arial, sans-serif !important;
  font-size: 14px;
}
.breadcrumb {
  font-size: 12px;
  background-color: #fff;
  padding: 0px;
}
.footer {
  padding: 10px 0px;
  background: #fff;
  color: #000;
}
.clip_content {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
}
.clip_content .clip_im {
  margin-bottom: 20px;
}
.clip_content .clip_im img {
  max-width: 100%;
}
.clip_content .clip_title {
  font-family: 'BazookaCYR', sans-serif;
}
.clip_content .clip_title a {
  color: orangered;
  font-size: 20px;
  line-height: 20px;
}
.read_more {
  margin-bottom: 10px;
}
.read_more a {
  font-size: 14px;
  text-decoration: underline;
}
.read_more a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
.content iframe {
  width: 100% !important;
  height: 550px !important;
}
.breadcrumb {
  background: none !important;
}
.page_desc {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */